#main_footer{
    background: rgb(49,24,94);
    background: linear-gradient(0deg, rgba(49,24,94,1) 0%, rgba(123,95,186,0.18110994397759106) 100%);
    text-align: center;
    margin-top: 0px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);

    p{
        margin-top: 20px;
        background-color: #B91646;
        font-size: 1.5rem;
        color:white;
    }
    ul{
        list-style: none; 
        margin-left: 2%;

        p{
            font-size: 1.5rem ;
            background-color: #B91646;
            color:whitesmoke;
            position: relative;
            margin-top: 20px;
            margin-bottom: 2%;
        }

        li{
            a{
                position: relative;
                float: left;
                margin-top: 2px;
                margin-right: 20px;
                padding: 10px 4px;  
                color:whitesmoke;
                font-size: 1.2rem;
                cursor: pointer;
                transition:all 0.3s ease-in-out;
            }
            &:hover {
                color:orangered; 
              }
        }
    }
    .redes {
        position: relative;
        margin-top: 35px;

        img {
            position: relative;
            margin: 20px;
        }
    }
}