#form_body{    
    height: 900px;
    background-color:tan;
    color:black;
    display: flex;
    flex-direction:column;
    align-items: center;
}
#form_body form{
    top: 300px;
    align-items: center;  
}
#form_body h1{
    margin-top: 30px;
}   
#form_body h3{
    margin-top: 10px;
}
#form_body input {
    width: 100%;
    height: 30px;
    display: flex;
    background-color:white; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 2px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px;
}
#form_body label{
    display: block; 
    float: center; 	
}
#form_body span{
    color: #B91646;
}
#enviar{
    padding: 0.5em 1em;
    border: none;
    color: black;
    cursor: pointer;
}