@media only screen and (min-width: 500px) and (max-width:768px){
    .cartaPrincipal{
        background-image: url("./img/Nosotros.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 15px;
        grid-column: 1/2; /*---desde donde comienza, hacia donde termina---*/
        cursor:pointer;
        transition: all 0.3s ease-in-out;
    }
    .cartaPrincipal a{
        top: 10%;
    }
    .cartaPrincipal p{
        font-size: 1.5em;
    }
    .cartaPrincipal h2{
        font-size: 3em;
        color: #343a40;
        background-color: #B91646;
    }

/*ARTICULOS SECUDANRIOS*/
    .carta{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
    }
    .carta h2{
        font-size: 2em ;
    }
    .carta p{
        font-size:1.5em;
    }

/*QUIENES SOMOS*/
    .nosotros_main{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        width: 97%;
        margin: 0px auto;
/*---comienzo grid, trabajo---*/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .nosotros  img{
        width: 300px;
    }
    .nosotros h1{
        font-size: 2em;
        margin-bottom: 10px;
    }
    .nosotros p{
        font-size: 1.2em;
        margin-top: 10px;

    }
    .nosotros2 img{
        float: left;
    }

 /*MAIN GENERAL DE LLAVE EN MANO, LUZ,AGUA,GAS,CONSTRUCCIONES*/
    .generales_main{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        width: 97%;
        margin: 0px auto;
    }
    .generales_main img{
        width: 300px;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
     .general h1{
         margin-top: 2px;
        font-size: 2em;
        color: #ab4493;
    }
    .general p{
        font-size: 1.2em;
        margin-top: 10px;
    }

/*SERVICIOS*/
    .servicios_main{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        width: 97%;
        margin: 0px auto;
    }
     .servicio img{
         width: 300px;
         height: 200px;
         margin-top: 10px;
    }
    .servicio h2{
        color: #ab4493;
        font-size: 2em;
    }
    .servicio p{
        font-size: 1.2em;
        margin-top: 10px;
    }
    .servicio img{
        float: left;
    }
    .servicio img{
        display: none;
    }

/*FOTOGALERIA*/
    .main_fotogaleria{
        margin: 0px auto;
/*---comienzo grid, trabajo---*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    .main_fotogaleria div{
        height: 200px;
    }
    .item10{
        display: none;
    }
    .item11{
        display: none;
    }
    .item13{
        display: none;
    }
    .item14{
        display: none;
    }
    .item15{
        display: none;
    }

    /*FORMULARIO*/
    #form_body{
        background-color:white;
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        width: 97%;
        margin: 0px auto;
    }
    #form_body h1{
        font-size: 1.8em;
        margin-top: 5px;
    }
    #form_body h2{
        font-size: 1.2em;
        margin-top: 5px;
    }

    #form_body form{
        background-color:white;
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        width: 97%;
        margin: 0px auto;
    }
    
    /*FOOTER*/
    #main_footer p{
        font-size: 1em;
    }
    #main_footer li a{

    color:#B91646;
    font-size: 0.6em;
    }
    #main_footer ul p{
        font-size: 1.2em;
    }
}