.nosotros_main{
    text-align: center;
    width: 97%;
    margin: 0px auto;

}
.nosotros h1{
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 3em;
    text-align: center;
}
.nosotros img{
    border-radius: 200px;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
}
.nosotros img:hover{
transform:scale(1.005);
box-shadow:13px 15px 37px black ;
}
.nosotros p{
    color: black;
    font-size: 1.5em;
    text-align: center;
}
.nosotros1 img{
    float: left;
    width: 600px;
}
.nosotros2 img{
    float: right;
    width: 600px;
}
.nosotros3 img{
    float: left;
    width: 600px;
}