
@import "./body";
@import "./header+nav";
@import "./sectionPrincipal";
@import "./subcartas";
@import "./footer";
@import "./fotogaleria";
@import "./nosotros";
@import "./generalesmain";
@import "./serviciosmain";
@import "./formulariocontacto";
@import "./mediaquerytab";
@import "./mediaquerymobile";